

/*общие стили*/

*{
	outline: 1px solid red;
}


html,
body {
  margin: 0;
  color: #000000;
  font-family: "Сuprum", Arial, sans-serif;
  line-height: 24px;
  background-color: #ffffff;
  min-width: 1200px;
}

a {
  color: #ffffff;
  text-decoration: none;
  list-style: none;
  border: none;
}

.header-order-navigation,
.header-contacts,
.user-navigation,
.user-navigation-catalog,
.main-menu,
.materials-tools-technics,
.slides-switches,
.slide-btn,
.categories,
.service-list,
.about-delivery,
.about-company-list,
.delivery-company,
.footer-site-navigation,
.catalog-navigation,
.footer-social,
.message-input,
.brands-list,
.power-list,
.pagination-list {
  list-style: none;
}

.button {
	color: #ffffff;
	font-size: 14px;
	background-color: #ff5357;
	border: none;
	text-transform: uppercase;
}

.basket {
    color: #ffffff;
	font-size: 17px;
	background-color: #ff5357;
	border: none;
}
.basket:hover,
.basket:focus,
.button:hover,
.button:focus {
	background-color: #ca2c37;
	border: none;
}
.basket:active,
.button:active {
	background-color: #ba2732;
	border: none;
}

.container {  
  width: 940px;
  margin: 0 auto; 
  padding: 0 0;
  background-color: rgba(256, 256, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

svg {
  opacity: 0.3;
  color: #ffffff;
}

/*ХЕДЕР*/

.main-header {
  margin-bottom: 59px;
}

/*логитип, поиск, закладки, корзина, сдалать заказ*/


.menu-order {
  color: #ffffff;
  font-size: 17px;
  background-color: #293449;
}

.menu {
  height: 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
/*   background-color: red;*/
} 

.logo-search, 
.header-order-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
	background-color: #ee3643;
	box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
	padding-top: 13px;
    padding-bottom: 15px;
    padding-left: 53px;
    padding-right: 56px;
}
.header-logo:hover,
.header-logo:focus {
	background-color: #ca2c37;
}
.header-logo:active {
	background-color: #ba2732;
}

.search {
  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 31px;  
}

.search input {
	display: none;
}
.search input:hover,
.search input:focus {
	display: inline;
}
.search input:active {
	color: #000000;
}

.main-button:hover,
.main-button:focus {
	 background-color: #212a3a;
}
.main-button:active {
	color: rgba(255, 255, 255, 0.6);
	background-color: #161d29;
}

.make-order-button {
  background-color: #63a63e;
}
.make-order-button:hover,
.make-order-button:focus {
  background-color: #5fbb2d;
}
.make-order-button:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #518534;
}

/*навигация сайта, имя магазина, адрес и телефон, вход и регистрация*/

.top-background {
	background-color: #f4f7f9;
}

.contacts-account {
  display: flex;
  flex-direction: row;
  padding-top: 46px;
}

.shop-name {
  padding-left: 53px;
  padding-bottom: 44px;
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
  color: #ee3643;
  line-height: 1.44;
}

.phone {
  font-size: 21px;
  color: #ee3643;
}
.address {
  font-size: 14px;
  color: #32425c;
}

.order-account,
.user-navigation {
  display: flex;
  flex-direction: row;	
}

.login-back,
.register-back {
  font-size: 21px;
  color: #000000;
  background-color: #ffffff;
}

.search:before {
	background: url("../img/icon-cart.svg") no-repeat;
}

.register-back:hover,
.register-back:focus,
.login-back:hover,
.login-back:focus {
  color: #ee3643;
}
.register-back:active,
.login-back:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation-catalog {
  display: flex;
  flex-direction: column;	
}

.user-name {
	color: #000000;
	font-size: 21px;
	background-color: #ffffff;
}

.my-orders,
.my-account {
	color: #32425c;
	font-size: 16px;
}
.my-orders:hover,
.my-orders:focus,
.my-account:hover,
.my-account:focus {
	color: #ee3643
}
.my-orders:active,
.my-account:active,
.user-name:active {
	color: rgba(50, 66, 92, 0.3)
}

.main-menu {
  display: flex;
  flex-direction: row;
  margin-left: 0px;
  justify-content: space-evenly;
 
}

.main-menu li {
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
  font-size: 17px;
  line-height: 1;
  text-align: left;
  padding-left: 29px;
  padding-top: 22px;
  padding-bottom: 26px;
  padding-right: 25px;
  margin-bottom: 60px; 
}

.main-menu li:hover,
.main-menu li:focus {
  background-color: #293449;
}
.main-menu li:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0,5);
  border: none;
}

/*ФУТЕР*/

.footer-nav-back .container,
.footer-copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }

/*логотип, телефон, адрес, навигация по сайту (компания, новости...), навигация по каталогу*/

.footer-nav-back {
	background-color: #32425c;
	font-size: 18px;
}

.footer-logo-back {
  width: 220px;
  height: 68px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  padding-left: 41px;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-right: 41px;
} 

.footer-address {
	color: #f1f5f7;
	padding-top: 57px;
}
.footer-navigation {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  justify-content: space-between;
  padding-top: 42px;
 }
 
.footer-site-navigation,
.catalog-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-site-navigation a {
	color: #f1f5f7;
}
.footer-site-navigation a:hover,
.footer-site-navigation a:focus {
  text-decoration: underline;
}

.footer-site-navigation a:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}
 
.catalog-navigation a {
  color: #ffd180;
  background-color: #32425c;
}
.catalog-navigation a:hover,
.catalog-navigation a:focus {
  text-decoration: underline;
}
.catalog-navigation a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none
}

/*Копирайт, социальные сети, обратная связь, разработано*/
.copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



.footer-copyright-back {
	background-color: #293449;
	color: #ffffff;
	font-size: 16px;
}

.footer-copyright a {
	background-color: #293449;
}

.footer-copyright p {
	color: #ffffff;
}

.contacts {
  color: #ffd180;
  font-size: 16px;
}

.contacts:hover,
.contacts:focus {
  text-decoration: underline;
}

.contacts:active {
  color: #ee3643;
  text-decoration: none;
}

.footer-social a {
  background-color: #212a3a;
}

.footer-social a:hover,
.footer-social a:focus,
.footer-social a:active {
	background-color: #ee3643;
}

/*MAIN*/

/*категории и слайды*/
.materials-tools-technics {
  display: flex;
  flex-direction: row;
  margin-left: 0px;
  margin-right: 0px;
  justify-content: space-between;
  padding-left: 0px;
 }

.materials-tools-technics,
.discounts-delivery {
  margin-left: 0px;
}

.materials-tools-technics li,
.discounts-delivery li {
  font-size: 24px;
  color: #ffffff;
  font-weight: bold; 
  width: 280px;
  height: 123px;
  margin-right: 0px;
                                     margin-left: 0;
  padding-left: 23px;
  padding-top: 26px;    
}


 
.materials {
  background-color: #ffbf47;
  color: #ffffff;
}

.tools {
  background-color: #3bbce3;
}

.technics {
  background-color: #dc91d8;
}

.category-button {
  width: 135px;
  height: 38px;
  font-size: 14px;
  opacity: 0.1;
  background-color: #000000;   
  padding-left: 24px;
  padding-top: 12px;
  padding-right: 12px;
  padding-top: 14px; 
}

.category-button a {
	color: rgba(255, 255, 255, 0,1);
	text-transform: uppercase;
}

.category-button:focus,
.category-button:hover {
  opacity: 0.2;
}
.category-button:active {
  opacity: 0.3; 	
}

.delivery-slides-wrapper {
  display: flex;
  flex-direction: row;
  margin-left: 0;
  justify-content: space-between;
}

.slide-radio li:first-child {
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

.slide-radio li:nth-child(2) {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

.discounts-delivery {
  display: flex;
/*  flex-direction: column;
  margin-left: 0;
  justify-content: space-between;*/
  margin-bottom: 5px;
  width: 300px;
  background-color: grey;
}

.discounts {
  background-color: #8ed78f;
}

.delivery {
  background-color: #ffc047;
}

.perforators,
.garantee,
.credit,
.added-to-basket,
.message {
	display: none;
}

/*популярные товары и производители*/
.brands-back {
	margin-bottom: 65px;
}

.popular-back h2,
.brands-back h2 {
  background-color: #f9f5f0;
  font-size: 30px;
  color: #32425c;
  text-transform: uppercase;
}

 .popular h2 {
	padding-top: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
}

.button-brands,
.button-goods {
	padding-top: 13px;
	padding-left: 69px;
	padding-bottom: 13px;
	padding-right: 70px;
}
/*популярные производители*/
.brands {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  flex-wrap: wrap;
  padding-top: 46px;   
  margin-left: 0px;
  margin-right: 0px;
}
/*.popular .button-goods {
  position: absolute;
  top: -1px;
  right: -1px;
  
  width: 60px;
  height: 60px;
  
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}*/


.brands .row {
  margin-left: 0px;
}

.brand {
/*  position: relative;*/
  display: inline-block;
  width: 220px;
  height: 145px;
  margin-right: 8px; 
  margin-bottom: 20px;
/*  margin-top: 20px;*/
  text-align: center;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
}

.brands a:nth-child(4n) {
	margin-right: 0;
}

.brand:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
}

.brand img {
    display: inline-block;
    vertical-align: middle;
}

.brand:hover,
.brand:focus {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brand:active {
  opacity: 0.3;
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

/*Сервисы*/
.service-back {
  background-color: #f4f7f9;
  font-family: "PTSans", Arial, sans-serif;
}
.service-back h2 {
	font-size: 30px;
	text-transform: uppercase;  
	padding-top: 58px;
  font-weight: normal;
}

.service-back p {
	color: #000000;
	font-size: 13px;
	font-weight: normal;
}

.service {
  display: flex;
  flex-direction: row;
  margin-left: 30;
  justify-content: space-between;
}

.slide-button {
	font-size: 21px;
	background-color: #32425c;
	box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
    border: none;
	color: #ffffff;
	font-weight: bold;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 22px;
  padding-right: 140px;
}
.slide-button:active {
	background-color: #ffffff;
	color: #32425c;
	border: none;
}
.slide-button:not(.slide-button-pushed):hover,
.slide-button:not(.slide-button-pushed):focus {
	background-color: #293449;
	color: #ffffff;
	border: none;
}

.slide-button-pushed {
	background-color: #ffffff;
	color: #32425c;
    box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
}

.service-back h3 {
	font-size: 36px;
	text-transform: uppercase;
	color: #32425c;
	font-weight: normal;
}

/*о компинии, о доставке*/

.about-company {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.about-company-button {
  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 21px;
  padding-right: 40px;
}

.description-company h2,
.our-office h2 {
	font-size: 30px;
	text-transform: uppercase;
}

.description-company p, 
.our-office p {
	font-size: 13px;
	font-family: "PTSans", Arial, sans-serif;
}

.delivery-company {
	font-size: 18px;
}

.write-us {
  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 63px;
  padding-right: 59px;
}
 
/*СТРАНИЦА КАТАЛОГА*/

/*навигация по каталогу, название категории*/

.catalog-navigation-main {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  
  list-style: none;
}

.catalog-navigation-main li {
  position: relative;
  margin-right: 42px;
}

.catalog-navigation-main li:last-child {
  margin-right: 0;
}
.catalog-navigation-main li::before,
.catalog-navigation-main li::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -25px;

  width: 8px;
  height: 8px;

  background-color: #000000;
  
  transform: rotate(45deg);
  background-image: url("img/icon-right-small.svg");
}

.catalog-navigation-main a {
  	font-size: 13px;
	text-transform: uppercase;
	font-family: "PTSans", Arial, sans-serif;
	color: #000000;
}

.catalog-navigation-main::after {
  display: none;
}

.catalog-category h1 {
	text-transform: uppercase;
	background-color: #f2f6f8;
	font-size: 30px;
	text-align: left;
	color: #32425c;
	padding-top: 32px;
	padding-bottom: 34px;
	padding-left: 30px;	 
}

/*Форма*/

.catalog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  }
  
.filter-form {
 width: 220px;
}

 .sorted-goods-pagination {
	width: 700px;
 }

.filter,
.order-by {
  font-family: "PTSans", Arial, sans-serif;
  background-color: #f7f3ec;
  text-transform: uppercase;
  font-size: 13px;
  color: #000000;
  	 padding-top: 14px;
	 padding-bottom: 15px;
	 padding-left: 18px;
	 padding-right: 149px;
}

 .filter-form fieldset {
  border: none;
}

.filter-form legend {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
}

.price-range input {
	border: none;
	background-color: #f7f3ec;
}
/*фильтр цены*/
.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 17px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  
  background-color: #f7f3ec;
  
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 100px;
  padding: 8px 10px;
  margin-left: 10px;
  
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  
  border: none;
  border-radius: 5px;
  background: #f7f3ec;
}

.max-price {
  text-align: right;
}

/*фильтр производители и питание*/

.filter-form ul {
	  line-height: 18px;
	  list-style: none;
}

.brands li, 
.power li {
  font-family: "PTSans", Arial, sans-serif;
  color: #000000;
  font-size: 15px;
  text-transform: uppercase;
}

.brands input:disabled,
.power input:disabled  {
  color: rgba(0, 0, 0, 0.4);
}

.show-result {
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
  text-transform: uppercase;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  color: #000000;
}



.filter-option {
  margin-bottom: 19px;
  padding-left: 45px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #663d15;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;

  width: 16px;
  height: 16px;

  border: 2px solid #000000;
  background-image: url("img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: 4px;
  left: -38px;

  width: 12px;
  height: 12px;
  
  background-image: url("img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.show-result {
	padding-top: 15px;
	padding-bottom: 14px;
	padding-left: 39px;
	padding-right: 39px;	
}


/*сортировка*/
  
 .order-by {
  margin-top: 10px;
  margin-left: -30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }
 
 .order-by a {
  padding-top: 14px;
  padding-bottom: 15px;
  padding-left: 19px;
  padding-right: 106px;
 }
 
 .order-by p {
  padding-left: 19px;
 }
 
.by-price {
  font-size: 13px;
  color: #ee3643;
  text-transform: uppercase;
}

.by-type,
.by-function {
  opacity: 0.3;
  font-size: 13px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  text-decoration: underline dotted red;
}

.by-type:hover,
.by-function:hover,
.by-type:focus,
.by-function:focus {
	color: #000000;
	opacity: 1;
}

.by-type:active,
.by-function:active {
	color: #ee3643;
	opacity: 1;
}

/*каталог товаров*/

.catalog-items {
  display: flex;
  flex-wrap: wrap;
  padding: 10;
  margin: 10;
  margin-bottom: 25px;

  list-style: none;
  
}
.catalog-items-main {
	                       
  width: 940px;
  margin: 20px 0;
}

.catalog-items {
  width: 700px;
  margin: 20px 0;
}

.catalog-items-main .row {
  display: flex;
}

.catalog-items .row {
  display: flex;
}

.catalog-items-main .row {
  margin-left: 0px;
}

.catalog-item {
  position: relative;
  display: inline-block;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;
  
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  
  border: 1px solid #ccc;
}

.catalog-items {
  font-size: 0;
}

.catalog-item {
  font-size: 16px;
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  
  width: 60px;
  height: 60px;
  
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url("img/new-flag.png") no-repeat 0 0;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  
  width: 218px;
  height: 88px;
  padding: 40px 0;
  
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  background-color: #63a63e;
  border-radius: 3px;
  box-shadow: inset 0px -3px 0 0 #367315;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-item .actions .bookmark {
  color: #32425c;
  background-color: white;
  border: 3px solid #367315;
  box-shadow: none;
}

.title a {
	color: #000000;
}

.catalog-item .actions .buy:hover,
.catalog-item .actions .buy:focus {
  background-color: #5fbb2d;
}
.catalog-item .actions .buy:active {
	background-color: #518534;
	box-shadow: none;
}

.catalog-item .actions .bookmark:hover,
.catalog-item .actions .bookmark:focus {
	border: solid 3px #32425c;
}


.catalog-item .actions .bookmark:active {
opacity: 0.3;
  border: solid 3px #32425c;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item .actions {
  display: none;
}

.catalog-item .image {
  width: 218px;
  height: 168px;
}

.catalog-item .image img {
  max-width: 100%;
}

.catalog-item .title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;    
}

.catalog-item .discount {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  
  color: #999;
  text-decoration: line-through;
}

.catalog-item .price {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  
  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.catalog-item .price:after {
  content: "";
  
  position: absolute;
  top: 0;
  right: -20px;
  
  width: 0;
  height: 0;
  
  border: 20px solid white;
  border-left-color: #ee3643;
}



/*пагинация*/
.pagination-list {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.pagination-item a {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  color: #000000;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;	
  padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.pagination-item-active a {
	background-color: #ee3643;
}



/*пара слов о перфораторах*/
.about-perforator {
	margin-top: 60px;
    padding-top: 67px;
	padding-bottom: 73px;
	background-color: #f1f5f7;
}
.about-perforator h3 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: left;
  color: #000000;
  font-weight: normal;
	width: 938px;
	}
.about-perforator p {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  text-align: left;
  color: #000000;
  line-height: 24px;
}



/*Форма отправления письма и добавлено в корзину*/

.message,
.added-to-basket {
	background-color: #ffffff;
	color: #000000;
	box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.added-to-basket p {
  font-size: 27px;
  color: #000000;
}

.message li {
  font-size: 18px;
  color: #000000;
}
.message input,
.message textarea {
  box-shadow: none;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  color: #999999;
}
.message input:focus,
.message textarea:focus {
  border: solid 2px #ee3643;
}
.button-in-form {
  background-color: #f1f1f1;
}
.continue {
  background-color: #ffffff;
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
}