

/*общие стили*/

/**{
	outline: 1px solid red;
}*/


html,
body {
  font-family: Сuprum, "Arial", sans-serif;
  color: #000000;
  background-color: #ffffff;
  min-width: 1200px;
  margin: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
  list-style: none;
  border: none;
}

.header-order-navigation,
.header-contacts,
.user-navigation,
.user-navigation-catalog,
.nav-menu,
.materials-tools-technics,
.discounts-delivery,
.slides-switches,
.slide-btn,
.categories,
.service-list,
.about-delivery,
.about-company-list,
.delivery-company,
.footer-site-navigation,
.catalog-navigation,
.footer-social,
.message-input,
.brands-list,
.power-list,
.pagination-list {
  list-style: none;
}

.perforators,
.garantee,
.credit,
.added-to-basket,
.message {
	display: none;
}

.button {
	font-size: 14px;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #ff5357;
	border: none;
	border-radius: 3px;
}

.button:hover,
.button:focus,
.header-logo:hover,
.header-logo:focus {
	background-color: #ca2c37;
	border: none;
}

.button:active,
.header-logo:active {
	background-color: #ba2732;
	border: none;
}

.container {  
  width: 940px;
  margin: 0 auto; 
  padding: 0 0;
/*  background-color: rgba(256, 256, 0, 0.2);*/
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

svg {
  opacity: 0.3;
  color: #ffffff;
}

p,
h2,
h3 {
	margin: 0;
}



/*ХЕДЕР*/

.header {
  font-family: Cuprum;
}

/*логитип, поиск, закладки, корзина, сдалать заказ*/

.menu-order-back {
  color: #ffffff;
  background-color: #293449;
}

.menu-order {
  font-size: 17px;   
  height: 42px;
} 

.user-button-text {
	padding-left: 10px;
}

.menu-order,
.logo-search, 
.header-order-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.user-button,
.full-cart-button {
    font-size: 17px;
    color: #ffffff;
    width: 150px;
	padding-top: 11px;
	padding-bottom: 11px;
	text-align: center;
}

.header-order-navigation {
	margin-left: auto;
}
/*логотип*/
.header-logo {
	background-color: #ee3643;
	box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
	padding-top: 13px;
    padding-bottom: 15px;
    padding-left: 55px;
    padding-right: 56px;
}

.search-form {
    overflow: hidden;
}

.search-form-input {
    background-color: transparent;
    color: #ffffff;
    border: none;
    outline: none;
    width: 270px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 49px;
    background-image: url("../img/icon-search-darkgrey.svg");
    background-repeat: no-repeat;
    background-position: 17px 12px;
}

.search-form-input::-webkit-input-placeholder {
    color: #ffffff;
}

.search-form-input::-moz-placeholder {
    color: #ffffff;
	content: "Перфоратор";
}

.search-form-input:-ms-input-placeholder {
   color: #ffffff;
}

.search-form-button {
    display: none;
}

.search-form-input:hover {
    background-color: #212a3a;
    background-image: url("../img/icon-search-white.svg");
    background-repeat: no-repeat;
    background-position: 17px 12px;
}

.search-form-input:focus {
    background-color: #ffffff;
    color: #000000;
    background-image: url("../img/icon-search-red.svg");
    background-repeat: no-repeat;
    background-position: 17px 12px;
}

.user-button:hover,
.user-button:focus {
    background-color: #212a3a;
    outline: none;
}

.user-button:active {
    background-color: #161d29;
    color: rgba(255, 255, 255, 0.6);
}

.user-button:hover img,
.user-button:focus img,
.full-cart-button:hover img,
.full-cart-button:focus img {
    opacity: 1;
}

.user-button img,
.full-cart-button img,
.full-cart-button:active img,
.user-button:active img {
    opacity: 0.3;
}
.full-cart-button,
.cart-button {
    padding-right: 6px;
	border-radius: 0;
}

.bookmarks-button {
    padding-right: 11px;
}

.make-order-button {
   background-color: #63a63e;
   min-width: 150px;
   text-align: center;
}

.make-order-button:hover,
.make-order-button:focus {
    background-color: #5fbb2d;
}

.make-order-button:active {
    background-color: #518534;
    color: rgba(255, 255, 255, 0.5);
}

/*навигация сайта, имя магазина, адрес и телефон, вход и регистрация*/

.top-back {
	background-color: #f4f7f9;
	font-family: "Cuprum";
}

.contacts-account {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 44px;
}

.shop-name {
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  color: #ee3643; 
  line-height: 23px;
  min-width: 196px;
  margin-top: 49px;
  padding-left: 52px;
  margin-right: 35px;
}
.header-contacts {
 margin-top: 46px;
  width: 270px;
  text-align: center;
}

.phone-back {
  display: flex;
  flex-direction: row;
  font-size: 21px;
  color: #e9292a;
  border: solid 3px #ffffff;
  padding-top: 8px;
  padding-bottom: 5px;
}

.phone-back img {
  padding-left: 15px;
  padding-right: 40px;
  color: #B7BFC8;
}
.address {
  font-size: 14px;
  color: #32425c;
  text-align: center;
  padding-top: 8px;
}

.user-navigation-catalog,
.user-navigation {
  margin-top: 46px;  
  display: flex;
  flex-direction: row;	
  justify-content: space-between;
}

.order-account {
	justify-content: space-between;
}

.sign-in-button,
.sign-up-button,
.header_profile-button,
.header_sign-out-button {
    padding-top: 10px;
    color: #000000;
    font-size: 21px;
    background-color: #ffffff;
	padding-bottom: 0px;
	height: 32px;
}


.sign-up-button {
	width: 150px;
	text-align: center;
}

.sign-in-button {
	min-width: 121px;
    margin-right: 10px;
	padding-right: 8px;
}

.sign-in-button svg {
    padding-right: 14px;
	padding-left: 13px;
}

.sign-in-button:hover,
.sign-up-button:hover,
.sign-in-button:focus,
.sign-up-button:focus {
    color: #ee3643;
    outline: none;
}

.sign-in-button:active,
.sign-up-button:active {
    color: rgba(0, 0, 0, 0.3);
    outline: none;
}

.sign-in-button:hover img,
.sign-in-button:focus img {
    fill: #32425C;
}

.sign-in-button:active img,
.sign-in-button:active img {
    fill: #c5c5c5;
}

.user-navigation-catalog {
  display: flex;
  flex-direction: column;	
}

.user-name {
	color: #000000;
	font-size: 21px;
	background-color: #ffffff;
	padding-top: 14px;
	padding-bottom: 11px;
	padding-left: 47px;
	padding-right: 69px;
	line-height: 20px;
}

.order-account {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-decoration: underline;
	padding-top: 10px;
}

.my-orders,
.my-account {
	color: #32425c;
	font-size: 14px;
}
.my-orders:hover,
.my-orders:focus,
.my-account:hover,
.my-account:focus {
	color: #ee3643
}
.my-orders:active,
.my-account:active,
.user-name:active {
	color: rgba(50, 66, 92, 0.3)
}

.nav-menu {
  display: flex;
  flex-direction: row;
  margin-left: 0px;
  justify-content: space-between;
 
}

.nav-menu a {
  font-size: 17px;
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
  margin-bottom: 60px;
  padding-top: 22px;
  padding-bottom: 26px;
  padding-left: 31px;
  padding-right: 31px;

  
}
.nav-menu a:first-child {
padding-left: 52px;
}	
.nav-menu a:last-child {
padding-right: 49px;
}	
.nav-menu a:hover,
.nav-menu a:focus {
  background-color: #293449;
}
.nav-menu a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
  box-shadow: none;
}

/*ФУТЕР*/

.footer-nav-back .container,
.footer-copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }

/*логотип, телефон, адрес, навигация по сайту (компания, новости...), навигация по каталогу*/

.footer-nav-back {
	background-color: #32425c;
	font-size: 18px;
}

.footer-logo-back {
  width: 220px;
  height: 68px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  padding-left: 41px;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-right: 41px;
} 

.footer-address {
	color: #f1f5f7;
	padding-top: 57px;
}
.footer-navigation {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  justify-content: space-between;
  padding-top: 42px;
 }
 
.footer-site-navigation,
.catalog-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-site-navigation a {
	color: #f1f5f7;
}
.footer-site-navigation a:hover,
.footer-site-navigation a:focus {
  text-decoration: underline;
}

.footer-site-navigation a:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}
 
.catalog-navigation a {
  color: #ffd180;
  background-color: #32425c;
}
.catalog-navigation a:hover,
.catalog-navigation a:focus {
  text-decoration: underline;
}
.catalog-navigation a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none
}

/*Копирайт, социальные сети, обратная связь, разработано*/
.copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



.footer-copyright-back {
	background-color: #293449;
	color: #ffffff;
	font-size: 16px;
}

.footer-copyright a {
	background-color: #293449;
}

.footer-copyright p {
	color: #ffffff;
}

.contacts {
  color: #ffd180;
  font-size: 16px;
}

.contacts:hover,
.contacts:focus {
  text-decoration: underline;
}

.contacts:active {
  color: #ee3643;
  text-decoration: none;
}

.footer-social a {
  background-color: #212a3a;
}

.footer-social a:hover,
.footer-social a:focus,
.footer-social a:active {
	background-color: #ee3643;
}

/*MAIN*/

/*категории и слайды*/

.all-categories {
	font-family: Cuprum;
	margin-top: 59px;
}
.materials-tools-technics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin-bottom: 20px;
  padding-left: 0px;
}

.product-item {
	display: flex;
	flex-direction: row;
	width: 300px;
}

.product-item-text {
  font-size: 24px;
  font-weight: bold; 
  color: #ffffff;
  padding-top: 20px; 
  padding-left: 23px;
}

.materials-tools-technics li:last-child {
   margin-right: 0px;	
}
 
.product-item-materials {
  background-color: #ffbf47;
}

.product-item-materials img {
	padding-right: 43px;
	padding-top: 30px;
	padding-left: 43px;
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  
  width: 60px;
  height: 60px;
  
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background-image: url("../img/new-flag.png") no-repeat 0 0;
}
/*
.product-item .flag-new::before  {
	content: "";
	position: absolute;
  top: -1px;
  right: -1px;
  z-index: 1;
  width: 60px;
  height: 59px;
  background-image: url("../img/new-flag.png");
  background-repeat: no-repeat;
}*/

.product-item-tools {
  background-color: #3bbce3;
}

.product-item-tools img {
	padding-right: 28px;
	padding-top: 33px;
	padding-left: 37px;
}

.product-item-technics {
  background-color: #dc91d8;
}

.product-item-technics img {
	padding-right: 31px;
	padding-top: 31px;
	padding-left: 33px;
	background-position: 31px 31px 33px;
}

.category-button {
  font-size: 14px;
  width: 135px;
  background-color: rgba(0, 0, 0, 0.1); 
  text-align: center;
  margin-top: 13px;
  margin-bottom: 21px;
  padding-top: 12px;
  padding-bottom: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.category-button:focus,
.category-button:hover {
  background-color: rgba(0, 0, 0, 0.2); 
}
.category-button:active {
  background-color: rgba(0, 0, 0, 0.3); 	
}

.delivery-slides-wrapper {
  display: flex; 
  flex-direction: row; 
  margin-left: 0;
  justify-content: space-between;  
}
.discounts-delivery-slides {
	position: relative;
	display: inline-block;
	padding-left: 0px;
	width: 620px;
	height: 266px;
    color: white;	
}

.discounts-delivery-slides .name {
    background: transparent;
    color: #ffffff;
    position: absolute;
    font-size: 36px;
	top: 22px;
    left: 24px;
	text-transform: uppercase;
}

.discounts-delivery-slides .comment {
    background: transparent;
    color: #ffffff;
    position: absolute;
    font-size: 18px;
	top: 66px;
    left: 25px;
}

.discounts-delivery-slides a {
	width: 100px;
	top: 140px;
	left: 5px;
	cursor: pointer;
   position: absolute;
    font-size: 14px;
	text-transform: uppercase;
	background-color: #ee3643;	
	padding-left: 49px;
	padding-bottom: 13px;
	padding-top: 12px;
  padding-right: 45px;
  position: absolute;
  background-color: #ee3643;
  color: white;
  font-size: 14px;
}

.discounts-delivery li {
  margin-bottom: 20px;
}


.delivery-slides-wrapper .discounts-delivery {
margin-left: 0px;
padding-left: 0px;	
}
 
/*.slide-radio li:first-child {
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

.slide-radio li:nth-child(2) {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}*/

.discounts-delivery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  padding-left: 0px;
  margin-top: 0px;
  
/*  background-color: grey;*/
}

.product-item-discounts {
  background-color: #8ed78f;
}

.product-item-discounts img {
	padding-right: 45px;
	padding-top: 26px;
	padding-left: 38px;
}


.product-item-delivery {
  background-color: #ffc047;
}

.product-item-delivery img {
	padding-right: 31px;
	padding-top: 32px;
	padding-left: 38px;
}

/*популярные товары и производители*/

.popular-goods-back {
	margin-top: 53px;
}
.main-popular {
	font-family: Cuprum;
	margin-bottom: 21px;    
	display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 30px;
    padding-right: 24px;
    background-color: #f9f5f0;
}

.main-popular h2 {
    font-size: 30px;
    color: #32425c;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
}

.main-popular .button {
  font-size: 14px;
}


.button-goods {
	padding-top: 13px;
	padding-left: 55px;
	padding-bottom: 13px;
	padding-right: 55px;
	margin-top: 25px;
    margin-bottom: 26px;
}

.button-brands {
	padding-top: 13px;
	padding-left: 69px;
	padding-bottom: 13px;
	padding-right: 70px;
	margin-top: 25px;
    margin-bottom: 26px;
}

/*популярные производители*/

.brands {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.brand {
  display: inline-block;
  width: 220px;
  height: 145px;
  margin-right: 8px; 
  margin-top: 0px;
  text-align: center;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
}

.brand:nth-child(5),
.brand:nth-child(6),
.brand:nth-child(7),
.brand:nth-child(8) {
  margin-top: 20px;
}

.brands a:nth-child(4n) {
	margin-right: 0;
}

.brand:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
}

.brand img {
    display: inline-block;
    vertical-align: middle;
}

.brand:hover,
.brand:focus {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brand:active {
  opacity: 0.3;
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

/*Сервисы*/
.service-back {
    background-color: #f4f7f9;
    padding-top: 66px;
    margin-top: 85px;
}

.service-back .container {
    position: relative;
}

.service-title {
    font-size: 30px;
    line-height: 31px;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 0;
}

.service-slide p,
.service-description {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}

.service-description {
    width: 400px;
	padding-top: 38px;
}

.service-slider {
    display: flex;
    margin-top: 74px;
    padding-bottom: 99px;
}

.service-list {
    list-style: none;
}

.service-shadow {
    position: absolute;
    top: 150px;
    left: 240px;
    width: 10px;
    height: 280px;
    background-image: url("../img/shadow.png");
    background-repeat: no-repeat;
}

.service-label {
    display: block;
    color: #ffffff;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    background-color: #32425c;
    box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
    width: 230px;
    padding-left: 23px;
    padding-top: 14px;
    padding-bottom: 18px;
    margin-bottom: 1px;
}

.service-label:hover,
.service-label:focus {
    background-color: #293449;
    outline: none;
}

.service-label:active,
#delivery-slide:checked~.service-buttons .delivery-label,
#guarantee-slide:checked~.service-buttons .guarantee-label,
#loan-slide:checked~.service-buttons .loan-label {
    background-color: #ffffff;
    color: #32425c;
    box-shadow: 0px 1px 0 0 #ffffff, inset 0.6px 0.8px 0 0 #ffffff;
}

.service-back input {
    display: none;
}

.service-slide {
    display: none;
    margin-left: 80px;
}

#delivery-slide:checked~.service-list .service-slide:nth-of-type(1),
#guarantee-slide:checked~.service-list .service-slide:nth-of-type(2),
#loan-slide:checked~.service-list .service-slide:nth-of-type(3) {
    display: block;
}

.service-slide img {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.service-slide h3 {
    color: #32425c;
    font-size: 36px;
    line-height: 37px;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: -2px;
    margin-bottom: 25px;
}

.service-slide p {
    margin-bottom: 0px;
}

.service-slide:nth-of-type(1) p {
    width: 275px;
}

.service-slide:nth-of-type(2) p {
    width: 380px;
}

.service-slide:nth-of-type(3) .button {
    width: 195px;
    background-color: #ff5357;
    margin-top: 26px;
}


/*о компинии, о доставке*/

.about-company-contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 82px;
  padding-bottom: 86px;

}

.description-company {
  width: 519px;
}

.about-company-button {
  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 41px;
  padding-right: 40px;
  font-family: Cuprum;
  margin-top: 40px;
  font-size: 14px;
}

.our-office {
  display: flex;
  flex-direction: column;
}

.description-company h2,
.our-office h2 {
	font-size: 30px;
	text-transform: uppercase;
	font-family: Cuprum;
}

.description-company p, 
.our-office p {
	font-size: 13px;
    font-family: "PTSans";
}
.our-office p {
	padding-bottom: 36px;
}

.description-company li {
  font-family: Cuprum;
  font-size: 18px;
  line-height: 20px;
  padding-top: 24px;
}

.contacts {
	width: 300px;
	margin-left: 120px;
}

.write-us-button {
  font-size: 14px;
  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 63px;
  padding-right: 59px;
  font-family: Cuprum;
  	margin-top: 40px;
	
}
 
/*СТРАНИЦА КАТАЛОГА*/

/*навигация по каталогу, название категории*/

.catalog-navigation-main {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  
  list-style: none;
}

.catalog-navigation-main li {
  position: relative;
  margin-right: 42px;
}

.catalog-navigation-main li:last-child {
  margin-right: 0;
}
.catalog-navigation-main li::before,
.catalog-navigation-main li::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -25px;

  width: 8px;
  height: 8px;

  background-color: #000000;
  
  transform: rotate(45deg);
  background-image: url("img/icon-right-small.svg");
}

.catalog-navigation-main a {
  	font-size: 13px;
	text-transform: uppercase;
	/*font-family: "PTSans", Arial, sans-serif;*/
	color: #000000;
}

.catalog-navigation-main::after {
  display: none;
}

.catalog-category h1 {
	text-transform: uppercase;
	background-color: #f2f6f8;
	font-size: 30px;
	text-align: left;
	color: #32425c;
	padding-top: 32px;
	padding-bottom: 34px;
	padding-left: 30px;	 
}

/*Форма*/

.catalog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  }
  
.filter-form {
 width: 220px;
}

 .sorted-goods-pagination {
	width: 700px;
 }

.filter,
.order-by {
  /*font-family: "PTSans", Arial, sans-serif;*/
  background-color: #f7f3ec;
  text-transform: uppercase;
  font-size: 13px;
  color: #000000;
  	 padding-top: 14px;
	 padding-bottom: 15px;
	 padding-left: 18px;
	 padding-right: 149px;
}

 .filter-form fieldset {
  border: none;
}

.filter-form legend {
 /* font-family: "PTSans", Arial, sans-serif;*/
  font-size: 17px;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
}

.price-range input {
	border: none;
	background-color: #f7f3ec;
}
/*фильтр цены*/
.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  width: 220px;
}

.range-filter {
  width: 220px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 17px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  
  background-color: #f7f3ec;
  
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 100px;
  padding: 8px 0px;
  margin-left: 0px;
  
/*  font-family: Roboto, Arial, sans-serif;*/
  font-size: 16px;
  text-align: center;
  color: #283136;
  
  border: none;
  border-radius: 5px;
  background: #f7f3ec;
}

.price-controls li:after {
	content: "-"
}

.max-price {
  text-align: right;
}

/*фильтр производители и питание*/

.filter-form ul {
	  line-height: 18px;
	  list-style: none;
}

.brands li, 
.power li {
/*  font-family: "PTSans", Arial, sans-serif;*/
  color: #000000;
  font-size: 15px;
  text-transform: uppercase;
}

.brands input:disabled,
.power input:disabled  {
  color: rgba(0, 0, 0, 0.4);
}

.show-result {
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
  text-transform: uppercase;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  color: #000000;
}



.filter-option {
  margin-bottom: 19px;
  padding-left: 45px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #663d15;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;

  width: 16px;
  height: 16px;

  border: 2px solid #000000;
  background-image: url("img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: 4px;
  left: -38px;

  width: 12px;
  height: 12px;
  
  background-image: url("img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.show-result {
	padding-top: 15px;
	padding-bottom: 14px;
	padding-left: 39px;
	padding-right: 39px;	
}


/*сортировка*/
  
 .order-by {
  margin-top: 10px;
  margin-left: -30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 700px;
 }
 
/* .order-by a {
  padding-top: 14px;
  padding-bottom: 15px;
  padding-left: 19px;
  padding-right: 106px;
 }*/
 
 /*.order-by p {
  padding-left: 19px;
 }*/
 
.by-price {
  font-size: 13px;
  color: #ee3643;
  text-transform: uppercase;
}

.by-type,
.by-function {
  opacity: 0.3;
  font-size: 13px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  text-decoration: underline dotted red;
}

.by-type:hover,
.by-function:hover,
.by-type:focus,
.by-function:focus {
	color: #000000;
	opacity: 1;
}

.by-type:active,
.by-function:active {
	color: #ee3643;
	opacity: 1;
}

/*каталог товаров*/

.catalog-items {
  display: flex;
  flex-wrap: wrap;
  padding: 10;
  margin: 10;
  margin-bottom: 25px;

  list-style: none;
  
}


.catalog-items {
  width: 700px;
  margin: 20px 0;
}

.catalog-items-main .row {
  display: flex;
}

.catalog-items .row {
  display: flex;
}

.catalog-items-main .row {
  margin-left: 0px;
}

.catalog-item {
  position: relative;
  display: inline-block;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;
  
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  
  border: 1px solid #ccc;
}

.catalog-items {
  font-size: 0;
}

.catalog-item {
  font-size: 16px;
}

/*.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  
  width: 60px;
  height: 60px;
  
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}*/

.catalog-item .flag-new::before {
	content: "";
	position: absolute;
  top: -1px;
  right: -1px;
  z-index: 1;
  width: 60px;
  height: 59px;
  background-image: url("../img/new-flag.png");
  background-image: no-repeat;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  
  width: 218px;
  height: 88px;
  padding: 40px 0;
  
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  background-color: #63a63e;
  border-radius: 3px;
  box-shadow: inset 0px -3px 0 0 #367315;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-item .actions .bookmark {
  color: #32425c;
  background-color: white;
  border: 3px solid #367315;
  box-shadow: none;
}

.title a {
	color: #000000;
}

.catalog-item .actions .buy:hover,
.catalog-item .actions .buy:focus {
  background-color: #5fbb2d;
}
.catalog-item .actions .buy:active {
	background-color: #518534;
	box-shadow: none;
}

.catalog-item .actions .bookmark:hover,
.catalog-item .actions .bookmark:focus {
	border: solid 3px #32425c;
}


.catalog-item .actions .bookmark:active {
opacity: 0.3;
  border: solid 3px #32425c;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item .actions {
  display: none;
}

.catalog-item .image {
  width: 218px;
  height: 168px;
}

.catalog-item .image img {
  max-width: 100%;
}

.catalog-item .title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;    
}

.catalog-item .discount {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  
  color: #999;
  text-decoration: line-through;
}

.catalog-item .price {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  
  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.catalog-item .price:after {
  content: "";
  
  position: absolute;
  top: 0;
  right: -20px;
  
  width: 0;
  height: 0;
  
  border: 20px solid white;
  border-left-color: #ee3643;
}



/*пагинация*/
.pagination-list {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.pagination-item a {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  color: #000000;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;	
  padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.pagination-item-active a {
	background-color: #ee3643;
}



/*пара слов о перфораторах*/
.about-perforator {
	margin-top: 60px;
    padding-top: 67px;
	padding-bottom: 73px;
	background-color: #f1f5f7;
}
.about-perforator h3 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: left;
  color: #000000;
  font-weight: normal;
	width: 938px;
	}
.about-perforator p {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  text-align: left;
  color: #000000;
  line-height: 24px;
}



/*Форма отправления письма и добавлено в корзину*/

.message,
.added-to-basket {
	background-color: #ffffff;
	color: #000000;
	box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.added-to-basket p {
  font-size: 27px;
  color: #000000;
}

.message li {
  font-size: 18px;
  color: #000000;
}
.message input,
.message textarea {
  box-shadow: none;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  color: #999999;
}
.message input:focus,
.message textarea:focus {
  border: solid 2px #ee3643;
}
.button-in-form {
  background-color: #f1f1f1;
}
.continue {
  background-color: #ffffff;
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
}