/*общие стили*/

/**{
	outline: 1px solid red;
}*/


html,
body {
  font-family: Cuprum, "Arial", sans-serif;
  color: #000000;
  background-color: #ffffff;
  min-width: 1200px;
  margin: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
  list-style: none;
  border: none;
}
.delivery-company,
.footer-site-navigation,
.footer-catalog-navigation,
.order-account,
.pagination-list {
  list-style: none;
}

.perforators,
.garantee,
.credit,
.added-to-basket,
.message {
	display: none;
}

.button {
	font-size: 14px;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #ff5357;
	border: none;
	border-radius: 3px;
}

.button:hover,
.button:focus,
.header-logo:hover,
.header-logo:focus {
	background-color: #ca2c37;
	border: none;
}

.button:active,
.header-logo:active {
	background-color: #ba2732;
	border: none;
}

.container {  
  width: 940px;
  margin: 0 auto; 
  padding: 0 0;
/*  background-color: rgba(256, 256, 0, 0.2);*/
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

p,
h2,
h3,
ul,
a {
	margin: 0;
	padding: 0;
}



/*ХЕДЕР*/

/*логитип, поиск, закладки, корзина, сдалать заказ*/

.menu-order-back {
  color: #ffffff;
  background-color: #293449;
}

.menu-order {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 42px;
}

/*логотип*/
.header-logo {
	background-color: #ee3643;
	box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
	padding-top: 15px;
    padding-bottom: 12px;
    padding-left: 55px;
    padding-right: 56px;
}

/*поиск*/
.search-form {
    overflow: hidden;
}

.search-form-input {
	font-family: Cuprum, "Arial", sans-serif;
	font-size: 17px;
    color: #ffffff;
	background-color: transparent;
    background-image: url("../img/icon-search-darkgrey.svg");
    background-repeat: no-repeat;
    background-position: 17px 12px;
	border: none;
    outline: none;
	width: 221px;
	padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 49px;
}

.search-form-input::-webkit-input-placeholder {
    color: #ffffff;
}

.search-form-input::-moz-placeholder {
    color: #ffffff;
}

.search-form-input:-ms-input-placeholder {
   color: #ffffff;
}

.search-form-button {
    display: none;
}

.search-form-input:hover {
    background-color: #212a3a;
    background-image: url("../img/icon-search-white.svg");
    background-repeat: no-repeat;
    background-position: 17px 12px;
}

.search-form-input:focus {
    color: #000000;
    background-color: #ffffff;
	background-image: url("../img/icon-search-red.svg");
    background-repeat: no-repeat;
    background-position: 17px 12px;
}

/*ссылки закладки, корзина*/

.menu-order-button,
.full-cart-button,
.make-order-button {
    font-size: 17px;
	line-height: 18px;
    color: #ffffff;
    text-align: left;
	min-width: 150px;
	padding-top: 11px;
	padding-bottom: 12px;
}


.menu-order-button a {
	position: absolute;
}

.menu-order-button:hover,
.menu-order-button:focus {
    background-color: #212a3a;
    outline: none;
}

.menu-order-button:active {
    color: rgba(255, 255, 255, 0.6);
	background-color: #161d29;
}

.menu-order-button-marks {
	padding-top: 11px;
	padding-bottom: 11px;
}

.full-cart-button {
	border-radius: 0;
}

.menu-order-button svg,
.full-cart-button svg {
	opacity: 0.3;
	position: relative;
	top: 1px;
	padding-left: 18px;
	padding-right: 12px;
}

.menu-order-button:hover svg,
.menu-order-button:focus svg,
.full-cart-button:hover svg,
.full-cart-button:focus svg {
    opacity: 1;
}

.menu-order-button:active svg,
.full-cart-button:active svg {
    opacity: 0.5;
}

/*ссылка сделать заказ*/

.make-order-button {
   text-align: center;
   background-color: #63a63e;
   width: 150px;
   padding-top: 12px;
   padding-bottom: 12px;
}

.make-order-button:hover,
.make-order-button:focus {
    background-color: #5fbb2d;
}

.make-order-button:active {
    color: rgba(255, 255, 255, 0.5);
	background-color: #518534;
}

/*навигация сайта, имя магазина, адрес и телефон, вход и регистрация*/

.top-back {
	background-color: #f4f7f9;
}

.contacts-account {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 34px;
}

/*название магазина*/

.shop-name {
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  line-height: 23px;
  color: #ee3643; 
  min-width: 196px;
  margin-top: 49px;
  margin-bottom: 0;
  margin-left: 54px;
  margin-right: 9px;
}

/*номер телефона и адрес магазина*/

.header-contacts {
  text-align: center;
  width: 270px;
  margin-top: 46px;
  padding-left: 0px;
}

.phone-back {
  display: flex;
  flex-direction: row;
  font-size: 21px;
  color: #e9292a;
  border: solid 3px #ffffff;
  padding-top: 8px;
  padding-bottom: 6px;
}

.phone-back span {
	position: absolute;
}

.phone-back svg {
  position: relative;
  color: #B7BFC8;
  top: 2px;
  padding-left: 15px;
  padding-right: 40px;
}

.address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center;
  padding-top: 5px;
}

/*ссылки вход и регистрация на главной странице, имя пользователя на странице каталога*/

.user-navigation {
  display: flex;
  flex-direction: row;	
  justify-content: space-between;
  width: 281px;
  margin-top: 46px; 
}

.user-navigation-catalog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 299px;  
  height: 70px;
  margin-top: 46px;
}

.sign-in-button,
.sign-up-button {
    font-size: 21px;
    color: #000000;
    background-color: #ffffff;
	text-align: left;
	height: 32px;
	padding-top: 10px;
	padding-bottom: 0px;
}

.sign-in-button {
	width: 121px;
    margin-right: 10px;
}

.sign-in-button span {
	position: absolute;
}

.sign-in-button svg {
	position: relative;
	top: 1px;
	color: #c5c5c5;
    padding-left: 14px;
	padding-right: 12px;
}

.sign-up-button {
	text-align: center;
	min-width: 150px;
}

.user-name {
	font-size: 21px;
	color: #000000;
	background-color: #ffffff;
	text-align: left;
	width: 300px;
	padding-top: 10px;
	padding-bottom: 12px;
}

.user-name span {
	position: absolute;
}
.sign-in-button svg,
.sign-up-button svg,
.user-name svg,
.phone svg {
    fill: #c5c5c5
}

.user-name svg {
	position: relative;
	top: 2px;
}


.sign-in-button:hover,
.sign-up-button:hover,
.sign-in-button:focus,
.sign-up-button:focus {
    color: #ee3643;
    outline: none;
}

.sign-in-button:hover polygon,
.sign-in-button:focus polygon,
.sign-in-button:hover path,
.sign-in-button:focus path,
.account-icon:hover path,
.account-icon:focus path,
.logout-icon:hover path,
.logout-icon:focus path,
.logout-icon:hover polygon,
.logout-icon:focus polygon {
    fill: #32425C;
	opacity: 1;
}

.sign-in-button:active,
.sign-up-button:active,
.user-name:active {
    color: rgba(0, 0, 0, 0.3);
    outline: none;
}

.sign-in-button:active svg,
.user-name:active svg {
    fill: #c5c5c5;	
	opacity: 0.3;
}

.account-icon {
	padding-left: 13px;
	padding-right: 11px;
}

.logout-icon {
	padding-left: 29px;
}

/*ссылки мои заказы и личный кабинет на странице каталога*/
.user-info-list {
    position: relative;
    display: flex;
    list-style: none;
}

.user-info-item {
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 18px;
    margin-right: 15px;
}

.user-info-item:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 13px;
    left: 108px;
    width: 4px;
    height: 4px;
    background-color: #32425c;
    border-radius: 50%;
}

.user-info-item a {
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    text-decoration: none;
    background-color: transparent;
	border-bottom: 1px #32425c solid;
}

.user-info-item a:hover,
.user-info-item a:focus {
    color: #ee3643;
    outline: none;
	border-bottom: 1px #ee3643 solid;
}

.user-info-item a:active {
    color: rgba(50, 66, 92, 0.3);
	border-bottom: 1px rgba(50, 66, 92, 0.3) solid;
}

/*главкая навигация*/

.nav-menu {
  display: flex;
  flex-direction: row;
  width: 940px;
  margin-left: 0px;
  padding-bottom: 60px;
}

.nav-menu a {
  font-size: 17px;
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
  margin-left: 0;
  margin-right: 0;
  padding-top: 22px;
  padding-bottom: 26px;
  padding-left: 30px;
  padding-right: 30px;
}
.nav-menu a:first-child {
padding-left: 57px;
}	
.nav-menu a:last-child {
padding-right: 55px;
}	
.nav-menu a:hover,
.nav-menu a:focus {
  background-color: #293449;
}
.nav-menu a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
  box-shadow: none;
}

/*ФУТЕР*/

.footer-nav-back .container,
.footer-copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*логотип, телефон, адрес, навигация по сайту (компания, новости...), навигация по каталогу*/

.footer-nav-back {
	font-size: 18px;
	background-color: #32425c;
	padding-bottom: 48px;
}

.footer-contacts {
	min-width: 322px;
}

.footer-logo-back img {
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 41px;
  padding-right: 41px;
} 

.footer-address {
	font-style: normal;
	line-height: 24px;
	color: #f1f5f7;
	padding-top: 22px;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 547px;
  margin-top: 41px;
}

.footer-site-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-site-navigation a {
	color: #f1f5f7;
}
.footer-site-navigation a:hover,
.footer-site-navigation a:focus {
  text-decoration: underline;
}
.footer-site-navigation a:active {
  text-decoration: none;
  color: rgba(241, 245, 247, 0.5);
}

.footer-catalog-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 25px;
  margin-left: 23px;
}
 
.footer-catalog-navigation a {
  color: #ffd180;
  background-color: #32425c;
}
.footer-catalog-navigation a:hover,
.footer-catalog-navigation a:focus {
  text-decoration: underline;
}
.footer-catalog-navigation a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none
}

/*Копирайт, социальные сети, обратная связь, разработано*/

.footer-copyright-back {
	font-size: 16px;
	color: #ffffff;
	background-color: #293449;
	padding-top: 35px;
	padding-bottom: 30px;
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 18px; 
}

.footer-copyright {
	line-height: 18px;
	width: 228px;
	margin-right: 54px;
}

.footer-social {
	display: flex;
	flex-direction: row;
	width: 132px;
}

.footer-social a {
	display: inline-block;
	opacity: 1;
	border-radius: 50%;
	width: 42px;
	height: 42px;
	margin-right: 3px;
	background-color: #212a3a;
}

.footer-social a:hover,
.footer-social a:focus,
.footer-social a:active {
	background-color: #ee3643;
}

.footer-social .vk {
    opacity: 1;
	padding-top: 13px;
	padding-bottom: 14px;
	padding-left: 8px;
}

.footer-social .fb {
	opacity: 1;
    padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
}

.footer-social .instagram {
	opacity: 1;
    padding-top: 10px;
	padding-bottom: 11px;
	padding-left: 10px;
}



.footer-copyright-contacts {
  color: #ffd180;
  font-size: 16px;
  line-height: 18px; 
}

.footer-copyright-contacts:hover,
.footer-copyright-contacts:focus {
  text-decoration: underline;
}

.footer-copyright-contacts:active {
  color: #ee3643;
  text-decoration: none;
}

.footer-other-contacts {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	line-height: 18px;
	width: 284px;
	margin-right: 15px;
}

.footer-email {
	display: flex;
	flex-direction: column;
	line-height: 18px;
	width: 135px;
}

.footer-site {
	display: flex;
	flex-direction: column;
	line-height: 18px;
	width: 96px;
	padding-left: 10px;
}

/*MAIN*/

/*Категории и слайды*/

.all-categories {
	margin-top: 59px;
}

/*категории*/

.materials-tools-technics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin-bottom: 20px;
}

.materials-tools-technics li:last-child {
   margin-right: 0px;	
}

.delivery-discounts-slider {
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;  
}

.discounts-delivery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 266px;
}

.category-item {
	display: inline-block;
	width: 300px;
	height: 123px;
	position: relative;
}

.category-item-text {
  font-size: 24px;
  font-weight: bold; 
  line-height: 30px;
  color: #ffffff;
  padding-top: 20px; 
  padding-left: 23px;
}

.category-item-button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1); 
  width: 135px;
  margin-top: 13px;
  margin-bottom: 19px;
  padding-top: 12px;
  padding-bottom: 14px;
}

.category-item-button:focus,
.category-item-button:hover {
  background-color: rgba(0, 0, 0, 0.2); 
}
.category-item-button:active {
  background-color: rgba(0, 0, 0, 0.3); 	
}

.category-item .flag-new::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 60px;
  height: 59px;
  background-image: url('../img/new-flag.png');
  background-repeat: no-repeat;
}

.category-item-materials {
  background-color: #ffbf47;
  background-image: url('../img/icon-1.svg');
  background-repeat:  no-repeat;
  background-size: 44px 65px;
  background-position: 213px 31px;
}

.category-item-tools {
  background-color: #3bbce3;
  background-image: url('../img/icon-2.svg');
  background-repeat:  no-repeat;
  background-size: 75px 61px;
  background-position: 197px 33px;
}

.category-item-technics {
  background-color: #dc91d8;
  background-image: url('../img/icon-3.svg');
  background-repeat:  no-repeat;
  background-size: 78px 62px;
  background-position: 191px 31px;
}

.category-item-discounts {
  background-color: #8ed78f;
  background-image: url('../img/icon-4.svg');
  background-repeat:  no-repeat;
  background-size: 59px 72px;
  background-position: 196px 26px;
}

.category-item-delivery {
  background-color: #ffc047;
  background-image: url('../img/icon-5.svg');
  background-repeat:  no-repeat;
  background-size: 78px 63px;
  background-position: 191px 32px;
}

/*слайды*/

.slides {
	display: inline-block;
	position: relative;
    padding-left: 0px;
	display: none;
}

.slides .name {
	font-size: 36px;
	text-transform: uppercase;
    color: #ffffff;
	background: transparent;
    position: absolute;
    top: 22px;
    left: 24px;
}

.slides .comment {
	font-size: 18px;
	line-height: 24px;
    color: #ffffff;
	background: transparent;
    position: absolute;
    top: 63px;
    left: 25px;
}

.slides a {
  font-size: 14px;
  line-height: 18px;  
  text-transform: uppercase;  
  color: white;
  background-color: #ee3643;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 49px;
  padding-right: 45px;	
  position: absolute;
  width: 100px;
  top: 206px;
  left: 25px;
}

.perfotators div {
	display: none;
}

.slider {
  position: relative;
  color: #ffffff;
}

.slider-controls-rounds {
  position: absolute;
  left: 50%;
  bottom: 40px;
  z-index: 100;
  
  width: 160px;
  height: 10px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls-round {  
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #ee3643;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer; 
  margin-right: 10px;
}

.slider-controls-round:active,
#product-1:checked~.slider-controls-rounds .slider-controls-round--1,
#product-2:checked~.slider-controls-rounds .slider-controls-round--2 {
	background-color: #ffffff;
}
  
.slider-controls-left {
  position: absolute;
  top: 114px;
  left: 24px;
  z-index: 20;
  font-size: 0;
}

.slider-controls-right {
  position: absolute;
  top: 114px;
  right: 20px;
  z-index: 20;
  font-size: 0;
}

#product-1:checked ~ .slider-controls-round label[for='slide-1'], 
#product-2:checked ~ .slider-controls-round label[for='slide-2'] { 
background-color: #ffffff; 
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2 {
  display: block;
}

/*Популярные товары и производители*/

.popular-goods-back {
	margin-top: 53px;
}
.popular-item {
	display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f5f0;
	margin-bottom: 21px;  
	padding-left: 30px;
    padding-right: 24px;
}

.popular-item-title {
    font-size: 30px;
    font-weight: normal;
	text-transform: uppercase;
	color: #32425c;
}

.popular-item-button {
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	width: 253px;
	margin-top: 25px;
    margin-bottom: 26px;
	padding-top: 10px;
	padding-bottom: 10px;

}

/*популярные производители*/

.brands {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.brand {
  display: inline-block;
  text-align: center;
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
  min-width: 220px;
  min-height: 145px;
  margin-top: 0px;
}

.brand:nth-child(5),
.brand:nth-child(6),
.brand:nth-child(7),
.brand:nth-child(8) {
  margin-top: 20px;
}

.brand:nth-child(4n) {
	margin-right: 0;
}

.brand:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
}

.brand img {
    display: inline-block;
    vertical-align: middle;
}

.brand:hover,
.brand:focus {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brand:active {
  opacity: 0.3;
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

/*Сервисы*/
.service-back {
    background-color: #f4f7f9;
    margin-top: 85px;
	padding-top: 63px;
}

.service-title {
    font-size: 30px;
    font-weight: normal;
	text-transform: uppercase;
}

.service-description {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
	width: 398px;
	padding-top: 35px;
}

.service-slider {
	position: relative;
    display: flex;
    margin-top: 69px;
	margin-right: 0;
}

.service-label {
    display: block;
    font-size: 21px;
    font-weight: bold;
	line-height: 30px;
    color: #ffffff;
    background-color: #32425c;
    box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
    min-width: 208px;
    padding-top: 18px;
    padding-bottom: 18px;
	padding-left: 22px;
}

.service-label:hover,
.service-label:focus {
    background-color: #293449;
    outline: none;
}

.service-label:active,
#delivery-slide:checked~.service-buttons .delivery-label,
#guarantee-slide:checked~.service-buttons .guarantee-label,
#loan-slide:checked~.service-buttons .loan-label {
    color: #32425c;
	background-color: #ffffff;
    box-shadow: 0px 1px 0 0 #ffffff, inset 0.6px 0.8px 0 0 #ffffff;
}

.service-shadow {
    position: absolute;
    top: -40px;
    left: 220px;
    width: 10px;
    height: 280px;
    background-image: url("../img/shadow.png");
    background-repeat: no-repeat;
}

.service-back input {
    display: none;
}

.service-list {
    list-style: none;
	position: relative;
}

.service-slide {
	position: absolute;
    display: none;
	background: transparent;
    width: 630px;
	height: 282px;
	margin-left: 80px;
	padding-right: 0;
}

.service-slide h3 {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 36px;
    line-height: 37px;
    font-weight: normal;
	text-transform: uppercase;
    color: #32425c;
    margin-bottom: 34px;
}

.service-slide p {
	position: absolute;
    font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
    line-height: 24px;
    color: #000000;
	margin-bottom: 0px;
	margin-right: 0px;
}

.service-slide:nth-of-type(1) p {
    width: 275px;
}

.service-slide:nth-of-type(2) p {
    width: 380px;
}

.service-slide:nth-of-type(3) p {
    margin-bottom: 31px;
}

.service-slide-delivery {
	position: relative;
	background-image: url('../img/delivery.png');
	background-size: 468px 261px;
	background-position: 161px 21px;
	background-repeat: no-repeat;
}

.service-slide-guarantee {
	position: relative;
	background-image: url('../img/guarantee.png');
	background-size: 389px 283px;
	background-position: 240px 0;
	background-repeat: no-repeat;
}

.service-slide-credit {
	position: relative;
	background-image: url('../img/credit.png');
	background-size: 465px 285px;
	background-position: 158px 0;
	background-repeat: no-repeat;
}

.service-slide-credit a {
	position: absolute;
	font-size: 14px;
    background-color: #ff5357;
    margin-top: 80px;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-right: 44px;
	padding-left: 44px;
}
.service-label:active,
#delivery-slide:checked~.service-list .service-slide:nth-of-type(1),
#guarantee-slide:checked~.service-list .service-slide:nth-of-type(2),
#loan-slide:checked~.service-list .service-slide:nth-of-type(3) {
    display: block;
}

/*о компинии, о доставке*/

.about-company-contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 82px;
  margin-bottom: 86px;
}

.description-company {
  width: 519px;
}

.our-office {
  display: flex;
  flex-direction: column;
}

.description-company h2,
.our-office h2 {
	font-size: 30px;
	text-transform: uppercase;
}

.description-company p {
    font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
    line-height: 24px;
	margin-top: 32px;
	margin-bottom: 24px;
}

.delivery-company {
	display: inline;
	margin-left: 0;
	padding-left: 0px;
}

.delivery-company-item {
  font-size: 18px;
  line-height: 20px;
  width: 228px;
  height: 16px;
  margin-bottom: 0;
  padding-bottom: 22px;
}

.delivery-company-item:last-child {
  	margin-bottom: 52px;
	padding-bottom: 0px;
}

.delivery-company-item svg {
	width: 25px;
	height: 16px;
	opacity: 1;
}

.our-office p {
    font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
    line-height: 24px;
	margin-top: 30px;
	margin-bottom: 38px;
}

.write-us-button,
.about-company-button {
  font-size: 14px;
  line-height: 18px;
  margin-top: 37px;
  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 63px;
  padding-right: 59px;
}

 
/*СТРАНИЦА КАТАЛОГА*/

/*навигация по каталогу*/

.breadcrumbs {
    display: flex;
    list-style: none;
    padding-top: 25px;
}

.breadcrumbs-item:not(:last-child)::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 9px;
    height: 12px;
    margin-bottom: 5px;
    margin-left: 13px;
    margin-right: 17px;
	margin-top: 3px;
    background-image: url("../img/icon-right-small.svg");
}

.breadcrumbs-item a {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
}

.breadcrumbs-icon-home:hover polygon,
.breadcrumbs-icon-home:focus polygon,
.breadcrumbs-icon-home:hover path,
.breadcrumbs-icon-home:focus path {
    fill: #32425C;
}

.breadcrumbs-icon-home:active polygon,
.breadcrumbs-icon-home:active path {
    fill: #C1C6CE;
}

/*название категории*/

.catalog-category h1 {
	font-size: 30px;
	text-transform: uppercase;
	color: #32425c;
	background-color: #f2f6f8;
	text-align: left;
	padding-top: 27px;
	padding-bottom: 29px;
	padding-left: 30px;	 
}

/*Каталог*/
.catalog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.filter-form {
  font-family: "PT Sans", Arial, sans-serif;
  width: 220px;
 margin-top: 21px;
}

.sorted-goods-pagination {
	width: 700px;
	margin-top: 21px;
}

.filter {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  background-color: #f7f3ec;
  padding-top: 11px;
  padding-bottom: 10px;
  padding-left: 18px;
}

.filter-form ul {
	list-style: none;
}

 .filter-form fieldset {
  border: none;
}

.filter-item {
  margin: 0;
  padding: 0;
}

.filter-item legend {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

/*фильтр цены*/

.filter-item-price {
  margin-top: 11px;
}

.filter-item-price legend {
	margin-bottom: 12px
} 

.filter-item-price input {
	border: none;
	background-color: #f7f3ec;
}

.range-controls {
  position: relative;
  height: 41px;
  background-color: #f7f3ec;
  border-radius: 5px;
  margin-bottom: 13px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
}

.range-controls .scale {
  background: #d7dcde;
  height: 2px;
}

.range-controls .bar {
  background: #00ca74;
  height: 2px;
}

.range-controls .toggle {
  position: absolute;
  background-color: #ababab;
  border: 8px solid #ffffff;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0;
  border-bottom: 1px #cccccc solid;
  width: 220px;
  padding-bottom: 25px;
}

.price-controls li {
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  width: 95px;
  margin-right: 0;
}

.price-controls li {
	position: relative;
	margin-right: 10px;
}

.price-controls li:last-child {
	margin-right: 0px;
}

.price-controls li:not(:last-child)::after {
  content: "";
  position: absolute;
  background-color: #444444;
  top: 17px;
  left: 105px;
  width: 10px;
  height: 1px;
}

.price-controls input {
  font-size: 16px;
  text-align: center;
  color: #283136;
  background: #f7f3ec;
  border: none;
  border-radius: 5px;
  width: 95px;
  padding: 8px 0px;
}

/*фильтр производители и питание*/

.filter-item-brands legend {
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 17px;
  padding-top: 17px;
  padding-left: 0;
}

.filter-option {
  margin-bottom: 7px;
  padding-left: 35px;
}

.filter-option label {
  display: block;
  position: relative;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  padding-bottom: 15px;
  cursor: pointer;
  user-select: none;
}

 .filter-option-brands:last-child {
 border-bottom: 1px #cccccc solid;
 padding-bottom: 11px;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #663d15;
}

.filter-input:disabled + label {
  color: #000000;
  opacity: 0.5;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -3px;
  width: 19px;
  height: 19px;
  border: 2px solid #c5c5c5;
  border-radius: 5px;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -35px;
  width: 27px;
  height: 23px;
  background-image: url('../img/checkbox-on.svg');
  border: 0px solid #c5c5c5;;
}

.filter-item-power legend {
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 15px;
  padding-left: 0;
  padding-top: 10px;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  left: -36px;
  top: -3px;

  width: 25px;
  height: 25px;
  background-image: url('../img/radio-off.svg');
}

.filter-input-radio:checked + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -36px;
  width: 25px;
  height: 25px;
  background-image: url('../img/radio-on.svg');
}

.show-result {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
  outline: none;	
  color: #000000;
  margin-top: 55px; 
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 39px;
  padding-right: 39px;


}
/*сортировка*/

.catalog-sort-title,
.catalog-sort_js-button {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
	font-weight: normal;
    color: #000000;
    text-transform: uppercase;
}

.catalog-sort {
    background-color: #f7f3ec;
    display: flex;
    align-items: center;
}

.catalog-sort-title {
    margin-left: 20px;
    margin-right: 140px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.catalog-sort_js-button {
    opacity: 0.3;
    border-bottom: 1px dotted #ee3643;
}

.catalog-sort_js-button:first-of-type {
    margin-right: 71px;
}

.catalog-sort_js-button:nth-of-type(2) {
    margin-right: 65px;
}

.catalog-sort_js-button:nth-of-type(3) {
    margin-right: 46px;
}

.catalog-sort_js-button:nth-of-type(4) {
    margin-right: 21px;
}

.catalog-sort_js-button:hover,
.catalog-sort_js-button:focus {
    opacity: 1;
    border-bottom: 1px solid #ee3643;
}

.catalog-sort_js-button:active,
.catalog-sort_js-button.active {
    color: #ee3643;
    border: none;
    opacity: 1;
}

.triangle-button,
.triangle-button:hover,
.triangle-button:focus {
    border: none;
}

.triangle-button:active path,
.triangle-button.active path {
    fill: #ee3643;
    opacity: 1;
}

/*каталог товаров*/
.catalog-items {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  margin: 20px 0;
  margin-bottom: 25px;
  font-size: 0;
}

.catalog-items-main {
  display: flex;
  margin-left: 0px;
}

.catalog-items .row {
  display: flex;
}

.catalog-item {
  position: relative;
  display: inline-block;
   font-size: 18px; 
   font-weight: bold;

  line-height: 20px;
  text-align: center;
  border: 1px solid #ccc;
  width: 218px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.catalog-item:last-child {
	margin-right: 0px;
}

.catalog-item .flag-new::before {
	content: "";
	position: absolute;
  top: -1px;
  right: -1px;
  z-index: 1;
  width: 60px;
  height: 59px;
  background-image: url("../img/new-flag.png");
  background-image: no-repeat;
}

.flag-new::before:hover {
	opacity: 1;
}

.catalog-item .actions {
  position: absolute;
  background-color: rgba(255,255,255,1);
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  z-index: 10;
}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
  display: block;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #63a63e;
  border-radius: 3px;
  box-shadow: inset 0px -3px 0 0 #367315;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
}

.catalog-item .actions .bookmark {
  color: #32425c;
  background-color: white;
  border: 3px solid #367315;
  box-shadow: none;
}

.catalog-item .actions .buy:hover,
.catalog-item .actions .buy:focus {
  background-color: #5fbb2d;
}
.catalog-item .actions .buy:active {
	background-color: #518534;
	box-shadow: none;
}

.catalog-item .actions .bookmark:hover,
.catalog-item .actions .bookmark:focus {
	border: solid 3px #32425c;
}
.catalog-item .actions .bookmark:active {
  opacity: 0.3;
  border: solid 3px #32425c;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item .image {
  width: 218px;
  height: 168px;
}

.catalog-item .image img {
  max-width: 100%;
}

.title a {
	color: #000000;
}

.catalog-item .title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;    
}

.catalog-item .discount {
  text-decoration: line-through;
  color: #999999;
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.catalog-item .price {
  position: relative;
  color: white;
  background: #ee3643;
  border-radius: 3px;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
}

.catalog-item .price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}

/*пагинация*/

.pagination-list {
    display: flex;
    margin-top: 40px;
}

.pagination-item a {
    display: block;
	border-radius: 3px;
    margin-right: 10px;	
    padding: 10px 15px;
}

.pagination-item:last-child a {
    padding: 10px 30px;
}

.catalog-button {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
	line-height: 18px;
    text-transform: uppercase;
	color: #000000;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    padding: 10px 40px;
}

.catalog-button:hover,
.catalog-button:focus {
    border: 1px solid #bdc6ca;
}

.catalog-button:active {
    border: 1px solid #ee3643;
}

.active .catalog-button {
    color: #ffffff;
    background-color: #ee3643;
    border: none;
}

/*пара слов о перфораторах*/

.about-perforator {
	background-color: #f1f5f7;
	margin-top: 60px;
    padding-top: 62px;
	padding-bottom: 68px;
}

.about-perforator h3 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: normal;
  text-align: left;
  color: #000000;
}

.about-perforator p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  color: #000000;
  width: 938px;
  margin-top: 30px;
  padding-right: 0;
}

/*всплывающие окна*/

.modal {
  position: fixed;
                                                    display: none;
  color: #000000;

  background-color: #ffffff;
  border-top: 7px #ee3643 solid;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  
}
                                                     .modal-show {
                                                        display: block;
                                                     }



.modal-message {
  top: 20px;
  width: 480px;
  height: 350px;
  margin-left: 290px;
  padding: 50px 80px;
}

.form-container {
	width: 480px;
	margin: 0 auto;
}


.modal-close {
  position: absolute;
  top: 9px;
  right: 9px;
  
  width: 21px;
  height: 21px;

  font-size: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 2px;

  width: 19px;
  height: 3px;

  background-color: #ee3643;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.message-form label {
	font-size: 18px;
}

.message-form input {
	display: block;
	box-shadow: none;
	margin-top: 8px;
	width: 204px;
	height: 38px;
	padding-left: 16px;
	color: #a9a9a9;
	border: 2px solid #dee3e4;
	border-radius: 5px;
	font-size: 13px;
	font-family: cuprum;
	margin-right: 20px;
}

.message-form placeholder {
	color: #a9a9a9;
}

.name-email {
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
}


.message-form input:hover,
.message-form input:focus,
.message-form input:active,
.message-form textarea:hover,
.message-form textareat:focus,
.message-form textarea:active {
  outline: none;
}

.message-form textarea {
	display: block;
	box-shadow: none;
	margin-top: 8px;
	width: 448px;
	height: 114px;
	padding-left: 16px;
	color: #a9a9a9;
	border: 2px solid #dee3e4;
	border-radius: 5px;
	margin-right: 20px;
	padding-top: 13px;
	font-size: 13px;
	font-family: cuprum;
}


.form-button-background {
	background-color: #f4f4f4;
	height: 109px;
	margin-top: 37px;
	padding-left: 0px;
	width: 600px;
	text-align: left;
}

.form-button {
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	background-color: #ee3643;
	text-align: center;
	padding-top: 14px;
    padding-bottom: 14px;
	width: 470px;
	margin-top: 37px;
	
}
 
 /*.modal {
  position: fixed;
  font-family: cuprum;
                                                    display: none;
  color: #000000;

  background-color: #ffffff;
  border-top: 7px #ee3643 solid;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  
}
                                                     .modal-show {
                                                        display: block;
														{
*/ 	
                                   .modal {
                                 position: fixed;
                                         }														
.modal-message {
  top:  50%/*0px*/;
  left: 50%/*345px*/;
  width: 460px;
  height: 330px;
  margin-left: 0;
  padding: 45px 80px;
}
 
.form-container {
	width: 460px;
	margin: 0 auto;
	 
}
 

.message-form label {
	font-size: 18px;
}

.message-form input {
	display: block;
	box-shadow: none;
	margin-top: 8px;
	width: 200px;
	height: 38px;
	padding-left: 16px;
	color: #a9a9a9;
	border: 2px solid #dee3e4;
	border-radius: 5px;
	font-size: 13px;
	margin-right: 0px;
} 

.message-form placeholder {
	color: #a9a9a9;
}

.name-email {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 20px;
}

 

.message-form textarea {
	display: block;
	box-shadow: none;
	margin-top: 8px;
	width: 436px;
	height: 114px;
	padding-left: 16px;
	color: #a9a9a9;
	border: 2px solid #dee3e4;
	border-radius: 5px;
 	margin-right:  0px; 
	padding-top: 13px;
	font-size: 13px;
}


.form-button-background {
	background-color: #f4f4f4;
	height: 109px;
	margin-top: 37px;
	padding-left: 0px;
	width: 620px;
	text-align: left;
	margin-left: -80px;
}

.form-button {
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	background-color: #ee3643;
	text-align: center;
	padding-top: 10px;
    padding-bottom: 10px;
	width: 460px;
	margin-top: 37px;	
}